# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Visoko uciliste Algebra\Faks\2. godina\2. semestar\Programiranje u Javi 1\Zavrsni\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
